---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"name":"testrepo","private":"true"}'
    headers:
      Authorization:
      - Basic dDAzOTM1OTI0OjZjNGMyNGI4OTY4ZjUxZDRkOTg1MWY1OTQ2ZTVjNTQzYzE0M2FhOTY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9588c658031cb3f8adc92470a9cc5c4653087afbbe6cec6a7711add306c17ec5"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/t03935924/testrepo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1614716153'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"id":343885426,"node_id":"MDEwOlJlcG9zaXRvcnkzNDM4ODU0MjY=","name":"testrepo","full_name":"t03935924/testrepo","private":true,"owner":{"login":"t03935924","id":79847684,"node_id":"MDQ6VXNlcjc5ODQ3Njg0","avatar_url":"https://avatars.githubusercontent.com/u/79847684?v=4","gravatar_id":"","url":"https://api.github.com/users/t03935924","html_url":"https://github.com/t03935924","followers_url":"https://api.github.com/users/t03935924/followers","following_url":"https://api.github.com/users/t03935924/following{/other_user}","gists_url":"https://api.github.com/users/t03935924/gists{/gist_id}","starred_url":"https://api.github.com/users/t03935924/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/t03935924/subscriptions","organizations_url":"https://api.github.com/users/t03935924/orgs","repos_url":"https://api.github.com/users/t03935924/repos","events_url":"https://api.github.com/users/t03935924/events{/privacy}","received_events_url":"https://api.github.com/users/t03935924/received_events","type":"User","site_admin":false},"html_url":"https://github.com/t03935924/testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/t03935924/testrepo","forks_url":"https://api.github.com/repos/t03935924/testrepo/forks","keys_url":"https://api.github.com/repos/t03935924/testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/t03935924/testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/t03935924/testrepo/teams","hooks_url":"https://api.github.com/repos/t03935924/testrepo/hooks","issue_events_url":"https://api.github.com/repos/t03935924/testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/t03935924/testrepo/events","assignees_url":"https://api.github.com/repos/t03935924/testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/t03935924/testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/t03935924/testrepo/tags","blobs_url":"https://api.github.com/repos/t03935924/testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/t03935924/testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/t03935924/testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/t03935924/testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/t03935924/testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/t03935924/testrepo/languages","stargazers_url":"https://api.github.com/repos/t03935924/testrepo/stargazers","contributors_url":"https://api.github.com/repos/t03935924/testrepo/contributors","subscribers_url":"https://api.github.com/repos/t03935924/testrepo/subscribers","subscription_url":"https://api.github.com/repos/t03935924/testrepo/subscription","commits_url":"https://api.github.com/repos/t03935924/testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/t03935924/testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/t03935924/testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/t03935924/testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/t03935924/testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/t03935924/testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/t03935924/testrepo/merges","archive_url":"https://api.github.com/repos/t03935924/testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/t03935924/testrepo/downloads","issues_url":"https://api.github.com/repos/t03935924/testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/t03935924/testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/t03935924/testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/t03935924/testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/t03935924/testrepo/labels{/name}","releases_url":"https://api.github.com/repos/t03935924/testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/t03935924/testrepo/deployments","created_at":"2021-03-02T19:15:52Z","updated_at":"2021-03-02T19:15:52Z","pushed_at":"2021-03-02T19:15:52Z","git_url":"git://github.com/t03935924/testrepo.git","ssh_url":"git@github.com:t03935924/testrepo.git","clone_url":"https://github.com/t03935924/testrepo.git","svn_url":"https://github.com/t03935924/testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 02 Mar 2021 19:15:53 GMT
recorded_with: VCR 6.0.0
